.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        .about-item {
            border: 1px solid #aaa6c3;
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);

            &:hover {
                cursor: default;
                transform: translateY(-5px);
                border: 1px solid #aaa6c3;
                box-shadow: 1px 2px 15px rgba(0, 0, 0, .32);
            }

            .abt-text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;

                .large-text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: #aaa6c3;
                }

                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: #915eff;
                    letter-spacing: 2px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: #aaa6c3;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {

    //About Section 
    .about-container {
        grid-template-columns: 1fr;
        text-align: justify;

        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
    }
}